<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%= title %></title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/delete.css">
        <link rel="icon" href="/favicon.png" type="image/png">
        <meta name="author" content="Oleksandr Mitichkin">
    </head>
    <body>
        <div id="logo"><!--Logo-->
            <center>
                <a  href = "/"> <img src="/logo.jpg" alt= "Our logo. :)" width="200px"></a>
            </center>
        </div>

        <ul id="navigation"><!--Main nav buttons-->
            <li><a href="/booking/create">Create a new booking</a></li>
            <li><a href="/booking/delete">Delete a booking</a></li>
            <li><a href="/booking/modify">Modify a booking</a></li>
            <li><a href="/booking/report">Report on bookings</a></li>
            <li><a href="/report">Report on scheduled workshops</a></li>
            <li><a href="/about">About Page</a></li>
            <li><a href="/help">Help Page</a></li>
        </ul>
        <h1>All Bookings</h1>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Card Number</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <% bookings.forEach(function(booking) { %>
                <tr>
                    <td><%= booking.name %></td>
                    <td><%= booking.date.toISOString().split('T')[0] %></td>
                    <td><%= booking.time %></td>
                    <td><%= booking.card %></td>
                    <td>
                        <!-- Delete button with a form for submitting the delete request -->
                        <form method="POST" action="/booking/delete-booking">
                            <input type="hidden" name="bookingId" value="<%= booking._id %>">
                            <button type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
                <% }); %>
            </tbody>
        </table>
        
        <footer class="footer-bottom"><!--Start of footer-->
			<center>
				<div><span>© 2023 | All Rights Reserved | Made By Oleksandr Mitichkin ©</a></span></div>
			</center>
		</footer><!--End of footer-->
    </body>
</html>

